@charset "UTF-8";
body{
		background-image: url("https://thumbs.dreamstime.com/b/vintage-old-light-bulb-glowing-yellow-rough-dark-background-surrounded-burnt-out-bulbs-idea-creativity-concept-164472987.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}